<div class="breadcrumb">
  <h1>Form Wizard</h1>
  <ul>
    <li><a href="">Form</a></li>
    <li>Wizard</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">

    <form-wizard>
      <!-- [isValid]="registration.form.valid"  -->
      <wizard-step [title]="'Dane'" (onNext)="onStep1Next($event)">
        <form [formGroup]="registration">
          <div class="row">
            <div class="form-group col-md-12 mb-3">
              <label for="cityName">Miasto</label>
              <select class="form-control" [class.is-invalid] = "this.registration.get('cityName').invalid && this.registration.get('cityName').touched" formControlName="cityName">
                  <option>Opole</option>
                  <option>Wrocław</option>
              </select>
              <div *ngIf="(this.registration.get('cityName').invalid && this.registration.get('cityName').touched) || this.registration.get('cityName').dirty">
                <small *ngIf="this.registration.get('cityName').errors?.required" class="text-danger">Miasto jest wymagane</small>
              </div>
            </div>
            <div class="form-group col-md-12 mb-3">
              <label for="localName">Nazwa lokalu</label>
              <input type="text" class="form-control" id="localName" [class.is-invalid] = "this.registration.get('localName').invalid && this.registration.get('localName').touched" name="localName" formControlName="localName" placeholder="Nazwa lokalu">
              <div *ngIf="(this.registration.get('localName').invalid && this.registration.get('localName').touched) || this.registration.get('localName').dirty">
                <small *ngIf="this.registration.get('localName').errors?.required" class="text-danger">Nazwa lokalu jest wymagana</small>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="nip">NIP</label>
              <input type="nip" class="form-control" id="nip" [class.is-invalid] = "this.registration.get('nip').invalid && this.registration.get('nip').touched" name="nip" aria-describedby="nip" placeholder="NIP" formControlName="nip">
              <div *ngIf="(this.registration.get('nip').invalid && this.registration.get('nip').touched) || this.registration.get('nip').dirty">
                <small *ngIf="this.registration.get('nip').errors?.required" class="text-danger">Nip jest wymagany</small>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="adress">Adres</label>
              <input type="text" class="form-control" id="adress" [class.is-invalid] = "this.registration.get('adress').invalid && this.registration.get('adress').touched" name="adress" placeholder="Adres lokalu" formControlName="adress">
              <div *ngIf="(this.registration.get('adress').invalid && this.registration.get('adress').touched) || this.registration.get('adress').dirty">
                <small *ngIf="this.registration.get('adress').errors?.required" class="text-danger">Nip jest wymagany</small>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="phoneNumber">Telefon</label>
              <input type="text" class="form-control" id="phoneNumber" [class.is-invalid] = "this.registration.get('phoneNumber').invalid && this.registration.get('phoneNumber').touched" name="phoneNumber" placeholder="Numer Telefonu" formControlName="phoneNumber">
              <div *ngIf="(this.registration.get('phoneNumber').invalid && this.registration.get('phoneNumber').touched) || this.registration.get('phoneNumber').dirty">
                <small *ngIf="this.registration.get('phoneNumber').errors?.required" class="text-danger">Numer telefonu jest wymagany</small>
              </div>
            </div>
            <div class="form-group col-12">
              <label for="description">Opis</label>
              <textarea class="form-control" aria-label="Description"></textarea>
            </div>
            <div class="form-group col-md-12">
              <label for="facebookUrl">Adres Facebook</label>
              <input type="text" class="form-control" id="facebookUrl" name="facebookUrl" placeholder="Adres Facebook">
            </div>
            <div class="form-group col-md-12">
              <label for="instagramUrl">Adres Instagram</label>
              <input type="text" class="form-control" id="instagramUrl" name="instagramUrl" placeholder="Adres Instagram">
            </div>
          </div>
        </form>
      </wizard-step>

      <wizard-step [title]="'Kategorie'" [isValid]="step2Form.valid" (onNext)="onStep2Next($event)">
        <form [formGroup]="step2Form">
          <div class="row">
            <div class="col-md-6">
              <h6 class="mb-2">Employees</h6>
              <label class="checkbox checkbox-primary">
                <input type="checkbox" checked>
                <span>Designer</span>
                <span class="checkmark"></span>
              </label>
              <label class="checkbox checkbox-secondary">
                <input type="checkbox" checked>
                <span>Coder</span>
                <span class="checkmark"></span>
              </label>
              <label class="checkbox checkbox-success">
                <input type="checkbox" checked>
                <span>QA</span>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-6">
                <h6 class="mb-2">Company age</h6>
                <label class="radio radio-outline-primary">
                  <input type="radio" name="experience" [value]="1" formControlName="experience">
                  <span>Less than 1 Year</span>
                  <span class="checkmark"></span>
                </label>
                <label class="radio radio-outline-success">
                  <input type="radio" name="experience" [value]="3" formControlName="experience">
                  <span>1-5 Years</span>
                  <span class="checkmark"></span>
                </label>
                <label class="radio radio-outline-warning">
                  <input type="radio" name="experience" [value]="4" formControlName="experience">
                  <span>5+ Years</span>
                  <span class="checkmark"></span>
                </label>
            </div>
          </div>
        </form>
      </wizard-step>

      <wizard-step [title]="'Dostępność'" (onNext)="onStep3Next($event)">
        <form #paymentForm="ngForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <h6 class="mb-2">Formy płatności</h6>
              <label class="checkbox checkbox-primary">
                <input type="checkbox">
                <span>Gotówką</span>
                <span class="checkmark"></span>
              </label>
              <label class="checkbox checkbox-primary">
                <input type="checkbox">
                <span>Karta</span>
                <span class="checkmark"></span>
              </label>
              <label class="checkbox checkbox-primary">
                <input type="checkbox">
                <span>Zbliżeniowo</span>
                <span class="checkmark"></span>
              </label>
              <label class="checkbox checkbox-primary">
                <input type="checkbox">
                <span>Blikiem</span>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-6 mb-3">
              <h6 class="mb-2">Formy dostawy</h6>
              <label class="checkbox checkbox-primary">
                <input type="checkbox">
                <span>Dowóz</span>
                <span class="checkmark"></span>
              </label>
              <label class="checkbox checkbox-primary">
                <input type="checkbox">
                <span>Na miejscu</span>
                <span class="checkmark"></span>
              </label>
              <label class="checkbox checkbox-primary">
                <input type="checkbox">
                <span>Odbiór osobisty</span>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="form-group col-md-6 mb-3">
              <label for="range">Zasięg dostawy</label>
              <input type="text" class="form-control" id="range" name="range" placeholder="Zasięg dostawy">
            </div>
            <div class="col-md-12 mb-3">
              <div class="row">
                <div class="col-12 text-left">
                    <p class="mb-0 mt-3">Godziny otwarcia lokalu</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 col-md-6">
                      <div class="md-form">
                        <label for="openLocalHour">od:</label>
                        <input type="time" id="openLocalFrom" class="form-control" name="openLocalFrom" >
                      </div>
                  </div>
                  <div class="col-12 col-md-6">
                      <div class="md-form">
                        <label for="closeLocalHour">do:</label>
                        <input type="time" id="openLocalTo" class="form-control" name="openLocalTo">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-12 text-left">
                    <p class="mb-0 mt-3">GOdziny otwarcia kuchni</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 col-md-6">
                      <div class="md-form">
                        <label for="openKitchenHour">od:</label>
                        <input type="time" id="openKitchenFrom" class="form-control" name="openKitchenFrom">
                      </div>
                  </div>
                  <div class="col-12 col-md-6">
                      <div class="md-form">
                        <label for="closeKitchenHour">do:</label>
                        <input type="time" id="openKitchenTo" class="form-control" name="openKitchenTo">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-12 text-left">
                    <p class="mb-0 mt-3">Godziny dowozu</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 col-md-6">
                      <div class="md-form">
                        <label for="openDeliveryHour">od:</label>
                        <input type="time" id="OpenDeliveryFrom" class="form-control" name="OpenDeliveryFrom">
                      </div>
                  </div>
                  <div class="col-12 col-md-6">
                      <div class="md-form">
                        <label for="closeDeliveryHour">do:</label>
                        <input type="time" id="OpenDeliveryTo" class="form-control" name="OpenDeliveryTo">
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </form>
      </wizard-step>

      <wizard-step [title]="'Zdjęcia'" (onNext)="onStep3Next($event)">
        <form #paymentForm="ngForm">
          <div class="row">

            <div class="form-group col-md-12 mb-3">
              <label for="security">Wyślij logo</label>
              <!-- <input type="file" class="custom-file-input" id="uploadBackground" -->
                                        <!-- aria-describedby="uploadBackground" [(ngModel)]="uploadedBackground" name="uploadedBackground" (change)="uploadBackground($event)"> -->
              <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">{{background ? background.name : 'Wyślij tło'}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12 mb-3">
              <label for="security">Wyślij tło</label>
              <!-- <input type="file" class="custom-file-input" id="uploadBackground"
                                        aria-describedby="uploadBackground" [(ngModel)]="uploadedBackground" name="uploadedBackground" (change)="uploadBackground($event)"> -->
              <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">{{background ? background.name : 'Wyślij tło'}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12 mb-3">
              <label for="security">Wyślij menu</label>
              <!-- <input type="file" class="custom-file-input" id="uploadBackground"
                                        aria-describedby="uploadBackground" [(ngModel)]="uploadedBackground" name="uploadedBackground" (change)="uploadBackground($event)"> -->
              <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">{{background ? background.name : 'Wyślij tło'}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12 mb-3">
              <label for="security">Wyślij pinezke</label>
              <!-- <input type="file" class="custom-file-input" id="uploadBackground"
                                        aria-describedby="uploadBackground" [(ngModel)]="uploadedBackground" name="uploadedBackground" (change)="uploadBackground($event)"> -->
              <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">{{background ? background.name : 'Wyślij tło'}}</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </wizard-step>

      <wizard-step [title]="'Final'" (onComplete)="onComplete($event)">
        <div class="text-center mt-4 mb-4">
            <i class="i-Checked-User text-32 mb-3 text-success d-inline-block"></i>
            <h5 class="font-weight-light">Thank you! You have completed all the steps.</h5>
        </div>
      </wizard-step>
    </form-wizard>

  </div>
</div>